{% extends "base.html" %} {% block content %}


<div>
    <div>
        <img src="/static/imagesofhome/I2.jpg" alt width="1520" height="500" style="margin-left: -18.5%;">
    </div>
</div>

<div>
    <h1><b>Brain Tumor</b></h1>
    <p style="font-size: 20px; text-align: justify;">A brain tumor is a mass or growth of abnormal cells in your brain.

        Many different types of brain tumors exist. Some brain tumors are noncancerous (benign), and some brain tumors are cancerous (malignant). Brain tumors can begin in your brain (primary brain tumors), or cancer can begin in other parts of your body and spread to your brain (secondary, or metastatic, brain tumors).
        
        How quickly a brain tumor grows can vary greatly. The growth rate as well as location of a brain tumor determines how it will affect the function of your nervous system.
        
        Brain tumor treatment options depend on the type of brain tumor you have, as well as its size and location.   
    
    <h3>Symptoms</h3>
    <h4>General signs and symptoms caused by brain tumors may include:</h4>
    <p style="font-size: 20px; text-align: justify;">  1. New onset or change in pattern of headaches<br>
        2. Headaches that gradually become more frequent and more severe<br>
        3. Unexplained nausea or vomiting<br>
        4. Vision problems, such as blurred vision, double vision or loss of peripheral vision<br>
        5. Gradual loss of sensation or movement in an arm or a leg<br>
        6. Difficulty with balance<br>
        7. Speech difficulties<br>
        8. Confusion in everyday matters<br>
        9. Personality or behavior changes<br>
        10. Seizures, especially in someone who doesn't have a history of seizures<br>
        11. Hearing problems  </p> <br>
    <h3>Diagnosis</h3>
    <p style="font-size: 20px; text-align: justify;">To find the cause of your symptoms, your doctor will ask about your personal and family medical history and perform a complete physical examination. In addition to checking general signs of health, your doctor will perform a neurologic exam. This includes checks for alertness, muscle strength, coordination, reflexes and response to pain. Your doctor also examines the eyes to look for swelling caused by a tumor pressing on the nerve that connects the eye and the brain.</p>

    <p style="font-size: 20px; text-align: justify;">Depending on the results of the physical and neurologic examinations, your doctor may request one or both of the following:</p>
    <ul  style="font-size: 20px;">
        <li>
            <strong>Computerized tomography (CT) scan.</strong>Computerized tomography (CT) or computerized axial tomography (CAT) scan is a series of detailed pictures of the brain, created by a computer linked to an X-ray machine. In some cases, a special dye is injected into a vein before the scan. The dye helps to show differences in the tissues of the brain.
        </li>
        <br>
        <li>
            <strong>Magnetic resonance imaging (MRI)</strong>Magnetic resonance imaging (MRI) provides pictures of the brain, using a powerful magnet linked to a computer. MRI is especially useful in diagnosing brain tumors because it can "see" through the bones of the skull to the tissue underneath. A special dye may be used to enhance the likelihood of detecting a brain tumor.
        </li>
    </ul>
  
</div>
<br><br>

{% endblock %}